*{
    box-sizing:border-box
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.container {
  margin: 20px auto;
  width: 600px;
  text-align: center;
}   
.container textarea {
  width: 400px;
  height: 200px;
  resize: none;
  background-color: #eee;
  border: 1px solid #ccc;
  
}
.container .counter {
  display: block;
  text-align: right;
  padding-top: 10px;
}
.container .counter.zero span {
  color: red;
}