*{
    box-sizing:border-box
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.container {
  margin: 20px auto;
  width: 1200px;
  text-align: center;
}
.container .the-message {
  padding: 20px;
  background-color: #eee;
  max-width: 400px;
  margin: 20px auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
   opacity:0;
}