*{
    box-sizing:border-box
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.container{
    text-align: center;
    padding: 20px
}
.container .switch-colors{
    list-style: none;
    padding:0;
    margin: 20px;
}
.container .switch-colors li{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    display: inline-block;
    cursor: pointer;
}
.container .switch-colors li:first-child{
    background-color: #b71540;
}

.container .switch-colors li:nth-child(2){
    background-color: #0c2461;
}

.container .switch-colors li:nth-child(3){
    background-color: #3c6382;
}

.container .switch-colors li:nth-child(4){
    background-color: #079992;
}

.container .switch-colors li:last-child {
    background-color: #e58e26
}

.container .changes div {
    background-color: var(--maincolor);
    color: #FFF;
    height:150px;
    padding: 65px
}
