<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Tutorial & Examples</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&disply=swap" />
</head>
<body>

    <div class="container" id="elzero">
        <form>
          <input type="text" placeholder="Type Your Name" v-model="name"/>
          <input type="text" placeholder="Type Your Email" v-model="email"/>
          <input type="text" placeholder="Type Your Phone" v-model="phone"/>
          <button :disabled="!name || !email || !phone">Send Data</button>
        </form>
    </div>
   

    <script src="js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var vm = new Vue({
               el:'#elzero',
               data: {
                name: null,
                email: null,
                phone: null
               },  
        });
    </script>
</body>
</html>