<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Tutorial & Examples</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&disply=swap" />
</head>
<body>

    <div class="container" id="elzero">
        <form>
          <div class="grad-box" :style="{ backgroundImage: 'linear-gradient('+ direction +' , '+ colorOne +' , '+ colorTwo +')' }">Gradient Preview</div>
          <form>
            <div class="form-group">
              <label>Direction</label>
              <input type="text" v-model="direction"/>
            </div><span class="separator">|</span>
            <div class="form-group">
              <label>Color Stop One</label>
              <input type="text" v-model="colorOne"/>
            </div><span class="separator">|</span>
            <div class="form-group">
              <label>Color Stop Two</label>
              <input type="text" v-model="colorTwo"/>
            </div>
          </form>
          <div class="result"><span>Css Code:</span>background-image: linear-gradient({{ direction }}, {{ colorOne }}, {{ colorTwo }});</div>
          <div class="syntax"><span>Syntax:</span>background-image: linear-gradient(direction, color-stop1, color-stop2, ...);</div>
        </div>
        <!-- End Start -->>
    </div>
   

    <script src="js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var vm = new Vue({
               el:'#elzero',
               data: {
                 direction: 'to right',
                 colorOne: "#FF0000",
                 colorTwo: '#FFFF00'
               },  
        });
    </script>
</body>
</html>